<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlybanhang?zeroDateTimeBehavior=convertToNull&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="Enities/Account.hbm.xml"/>
    <mapping resource="Enities/Nhanvien.hbm.xml"/>
    <mapping resource="Enities/Hoadonban.hbm.xml"/>
    <mapping resource="Enities/Donnhap.hbm.xml"/>
    <mapping resource="Enities/Hanghoa.hbm.xml"/>
    <mapping resource="Enities/Hoadonnhap.hbm.xml"/>
    <mapping resource="Enities/Khachhang.hbm.xml"/>
    <mapping resource="Enities/Donban.hbm.xml"/>
    <mapping resource="Enities/Nhacungcap.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
